@font-face {
  font-family: "Apfel";
  src: url("/ApfelGrotezk-Regular.woff2") format("woff2"),
    url("/ApfelGrotezk-Regular.woff") format("woff");
}

@font-face {
  font-family: "BDOGrotesk";
  src: url("/BDOGrotesk-VF.woff2") format("woff2");
}
